<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MedTrack{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <h1>MedTrack</h1>
  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flash-messages">
        {% for category, message in messages %}
          <li class="flash-{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</body>

</html>

